@import "../../pages/index.scss";

$navbar-dropdown-background-color: $primary;
$navbar-dropdown-item-hover-background-color: $primary;
$navbar-divider-background-color: $primary;
@import "~bulma/sass/components/navbar.sass";

.navbar-item{
    a{
        text-decoration: none;
        color: inherit;
    }
}

.tagline{
    margin-top: 1.4rem;
}
.makeItPlayfair{
    font-family: $family-secondary;
}